<a class="btn btn-logo" href="https://itunes.apple.com/gb/podcast/other-peoples-flowers/id1351210915?mt=2">
    <i class="fab fa-apple fa-3x"></i>
</a>
<a class="btn btn-logo" href="https://stitcher.com/s?fid=174205&refid=stpr">
    <i class="fas fa-podcast fa-3x"></i>
</a>
<a class="btn btn-logo"
   href="https://anchor.fm/other-peoples-flowers">
    <i class="fas fa-anchor fa-3x"></i>

</a>
<a href="https://www.podbean.com/podcast-detail/tw73f-672dc/Other-People's-Flowers-Podcast" class="btn btn-logo">
    <i class="fas fa-broadcast-tower fa-3x"></i>
</a>
<a href="https://player.fm/series/series-2182071" class="btn btn-logo">
    <i class="fas fa-play fa-3x"></i>
</a>
<a href="https://www.youtube.com/channel/UCqdO8A-jfzr8CZGdCEzxl7A" class="btn btn-logo">
    <i class="fab fa-youtube fa-3x"></i>
</a>
